#map_canvas img {
  max-width: none;
}

#map_canvas label {
  width: auto;
  display: inline;
}

.row-fluid {
  background-color: gray;
}

.vehicle_list { 
  background-color: whitesmoke;
  border-radius: 10px;
}

.span3 {
  border-radius: 10px;
  padding: 5px;
}

.my_sidebar {
  border-radius: 10px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}
